<!doctype html>
<html>
  <head>
    <title>About <%=clinicData.clinicName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <div class="about">
      <h1>About  <%=clinicData.clinicName%></h1>
      <p style="font-weight: bold;">We here at <%=clinicData.clinicName%> are committed to providing affordable, high-quality healthcare services to our community. Our dedicated team of professionals ensure that every patient receives personalized attention and care, whether it’s for routine regular check-ups or specialized consultations and treatments. Located in the heart of London, our clinic is easily accessible and equipped with modern facilities to meet diverse healthcare needs and conditions. We firmly believe that excellent medical care should be both accessible and reliable, and we take pride in building lasting relationships with our patients based on trust, respect, professionalism and results.</p>
     </div> 
  </body>
</html>
