<!doctype html>
<html>
  <head>
    <title>Search <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=shopData.shopName%>: Add book</h1>
    <form method="POST" action="bookadded">
        <p>Book name: <input id="book-name" type="text" name="book-name" required/></p>
        <p>Price: <input id="price" type="text" name="price" required/></p>
        <input type="submit" value="Add Book" />
    </form>
  </body>
</html>