<!doctype html>
<html>
  <head>
    <title>Search <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=shopData.shopName%>: Bargain Books</h1>
    <h2>This is a list of books less than £20</h2>
     <ul>
        <%availableBooks.forEach(function(book) { %>
            <li><%= book.name %>, £<%= book.price %></li>
        <% }); %>
    </ul>
  </body>
</html>
