<!doctype html>
<html>
<head>
    <title>Error <%= clinicData.clinicName %></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
<div class="container">
    <h1>Error</h1>

    <p style="text-align:center; color:#b30000; font-size:18px;">
        <%= message %>
    </p>

    <a href="<%= backUrl %>">Go Back</a>
</div>
</body>
</html>
