<!doctype html>
<html>
  <head>
    <title>Welcome to <%=clinicData.clinicName %></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body class="indexejs">
    <div class="homepage_card">
      <h1>Welcome to <%= clinicData.clinicName %></h1>
      <p><a href="/">Home</a></p>
      <p><a href="/about">About <%=clinicData.clinicName %></a></p>
      <p><a href="/patient/find">Find Patients</a></p>
      <p><a href="/patient/add">Add New Patient</a></p>
      <p><a href="/patient/list">Patient List</a></p>
      <p><a href="/users/register">Registration page</a></p>
      <p><a href="/appointments/book">Book Appointment</a></p>
      <p><a href="/appointments/list">Appointments List</a></p>
      <p><a href="/users/login">Login</a></p>
      <p><a href="/users/audit">Audit</a></p>
      <p><a href="/logout">Logout</a></p>
    </div>
  </body>
</html>