<!doctype html>
<html>
  <head>
    <title>Search <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Search <%=shopData.shopName%></h1>
    <h2>Weather Data</h2>
    <form action="weather/result" method="GET">
      <p>Select the City</p>
      <select name="keyword">
        <option value="">-- Choose a city --</option>
            <% cities.forEach(city => { %>
        <option value="<%= city %>"><%= city %></option>
        <% }) %>
    </select>
      <input type="submit" value="Search" >
    </form>
  </body>
</html>